extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum magnam modi aut. Iusto, ab qui illum illo, vitae quasi voluptatibus veniam eius debitis hic reiciendis nesciunt nulla quia nostrum.Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem, dolorum aspernatur pariatur nesciunt nostrum hic eaque. Id eveniet dolor autem enim reprehenderit totam nam,ea vitae reiciendis laboriosam vel!
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum magnam modi aut. Iusto, ab qui illum illo, vitae quasi voluptatibus veniam eius debitis hic reiciendis nesciunt nulla quia nostrum.Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem, dolorum aspernatur pariatur nesciunt nostrum hic eaque. Id eveniet dolor autem enim reprehenderit totam nam,ea vitae reiciendis laboriosam vel!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum magnam modi aut. Iusto, ab qui illum illo, vitae quasi voluptatibus veniam eius debitis hic reiciendis nesciunt nulla quia nostrum.Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem, dolorum aspernatur pariatur nesciunt nostrum hic eaque. Id eveniet dolor autem enim reprehenderit totam nam,ea vitae reiciendis laboriosam vel!

    .listado-iconos
        .container.mt-5.py-5-text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum magnam modi aut. Iusto, ab qui illum illo.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum magnam modi aut. Iusto, ab qui illum illo.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum magnam modi aut. Iusto, ab qui illum illo.